*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/564835.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
    display: flex;
}


.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image img{
    width: 80%;
}

/* ------------> section  */

.play-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.carta{
    width: 100%;
    padding: 2%;

}
.esfera{
    border-radius: 20px;
    transition:2s;
    -webkit-transition:2s;
    -moz-transition:2s;
    -o-transition:2s;
    -ms-transition:2s;
}
.esfera img{
    width: 100%;
}
.rotate {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}




@media screen and (max-width: 1024px) {
    .image-container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        }

    }

    .play{
        width: 80%;
    }
    .image img{
        width: 100%;
    }
    .principal {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
    }


@media screen and (max-width: 678px) {
    body{
        display: flex;
        justify-content: center;
    }
    .principal{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .play{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    body{
        display: flex;
        justify-content: center;
    }

    .principal {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .image img {
        width: 100%;
    }




}
