*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/564835.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
    display: flex;
}


.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image img{
    width: 50%;
}

/* ------------> section  */

.play-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    color: rgb(16, 172, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.esferas-dragon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esferas-dragon img{
    width: 10%;
}

.play{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.carta{
    width: 60%;
    padding: 2%;

}
.esfera{
    border-radius: 20px;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
}

.esfera img{
    width: 70%;
}
.rotate {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.button{
    width: 100%;
}
/* .one{
    background-color: rgb(110, 1, 1);
} */




@media screen and (max-width: 1024px) {
    .image-container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        }

    }

    .play{
        width: 80%;
    }
    .image img{
        width: 100%;
    }
    .principal {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
    }


@media screen and (max-width: 678px) {
    body{
        display: flex;
        justify-content: center;
    }
    .principal{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .play{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 100%;
    }
} 

@media screen and (max-width: 320px) {
    body{
        display: flex;
        justify-content: center;
    }

    .principal {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .image img {
        width: 100%;
    }




}
